<h1>Inbox</h1>


<!-- use tables here -->
<table class="messages">
  <% @unread_messages.each do |message| %>

    <tr class="unread message-item">
      <td><%= message.sender.username %></td>
      <td>
        <a href="<%= message_url(message) %>">
          <%= message.title %>
        </a>
      </td>
      <td><%= message.body[0..99] %></td>
    </tr>

  <% end %>


  <% @read_messages.each do |message| %>
  <a href="<%= message_url(message) %>">
    <tr class="read message-item">
      <td><%= message.sender.username %></td>
      <td>
        <a href="<%= message_url(message) %>">
          <%= message.title %>
        </a>
      </td>
      <td><%= message.body[0..99] %></td>
    </tr>
  </a>
  <% end %>


</table>

