<article class='comment'>
  <div>
    <a href="<%= user_url(comment.author) %>">
      <%= comment.author.username %>
    </a>
    <p><%= comment.body %></p>
  </div>

  <ul class='bar-right'>
    <li><%=time_ago_in_words(comment.created_at) %> ago</li>
    <% if comment.author == current_user %>
    <li>edit</li>
    <li><%= button_to "Delete",
      character_comment_url(comment.character,
                            comment, ),
            method: :delete%>
    </li>
    <% end %>
  </ul>



</article>