
<% if @user != current_user %>
<h1 class ="header-text"><%="#{@user.username}'s characters"%></h1>
<% else %>
<h1 class ="header-text"><%="Your characters"%></h1>
<% end %>

<section class="sidebar">
  <ul class="display-sidebox">
   <!-- again use counter caches -->
   <li>All Characters
     <i class= "characters-count">
       <%= @user.characters_count %>
     </i>
   </li>
   <li>Forked
     <i class= "forked-characters-count">
       <%= @user.forked_characters.count %>
     </i>
   </li>
   <li>Starred
     <i class= "starred-characters-count">
       <%= @user.starred_characters.count %>
     </i>
   </li>
  </ul>

  <ul class="display-sidebox-2">
    <li>Public</li>
    <li>Private</li>
  </ul>
</section>

<main class='main-list'>
  <% if !@user.characters.nil? %>
  <ul class="list-display">
    <% @user.characters.each do |char| %>

    <li>
      <p>
        <a href="<%= user_url(@user) %>">
        <%= @user.username %>
        </a>
          /
        <a href="<%= user_character_url(@user,char) %>">
          <%= char.name %>
        </a>
      </p>

      <small>last active <%= char.updated_at %></small>

      <% if char.is_fork_duplicate? %>
      <small>Forked from

        <a href='<%= user_url(char.original_creator) %>'>
        <%= char.original_creator.username %>
        </a>
      </small>
      <% end %>

      <i>
        <%= "#{char.tagline}" %>
      </i>

      <div class="preview">
        <% if !char.details.empty? %>
        <% detail = char.details.first.body[0..200] %>
        <%= detail %> <%= "..." if detail.length > 200 %>
        <% end %>
      </div>

      <div class="social-stats">
        <ul>
         <li>Details
           <i class= "details-count">
             <%= char.details_count %>
           </i>
         </li>
         <li>Forks
           <i class= "forks-count">
             <%= char.duplicate_forks_count %>
           </i>
          </li>
          <li>Comments
            <i class= "comments-count">
                <%= char.comments_count %>
            </i>
          </li>
          <li>stars
            <i class= "stars-count">
              <%= char.stars_count %>
            </i>
          </li>
        </ul>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
</main>