<header class="page-header group">
  <ul class="info-vertical">

    <li>
      <div class="title-text">
        <a href="<%= user_url(@character.creator) %>">
        <%= @character.creator.username %>
        </a>
          /
        <a href="<%= character_url(@character) %>">
          <%= @character.name %>
        </a>
      </div>
    </li>

    <li>
      <small>Updated <%=time_ago_in_words(@character.updated_at) %> ago</small>
    </li>

  </ul>



  <ul class="social">
    <li>settings</li>
    <% if @character.creator == current_user %>
    <li>
    <%= button_to "Edit",
          edit_character_url(@character),
          method: :get %>
    </li>
    <li>
    <%= button_to "Delete",
          character_url(@character),
          method: :delete %>
          <!-- confirmation message with JS -->
    </li>
    <% else %>
    <li>

      <% if !current_user.has_already_forked_character?(@character) %>
      <%= button_to "Fork",
      character_forks_url(@character),
      method: :post
       %>
       <% else %>
       Forked!
       <% end %>

    </li>
    <% end %>
    <li>
    <% if !current_user.has_already_starred_character?(@character) %>
            <%= button_to "Star",
            character_stars_url(@character),
            method: :post
             %>
             <% else %>
             Starred!
             <% end %>

    </li>

  </ul>

</header>

<body>


<div class="content">
<section class="sidebar">

  <i class='tagline'><%= @character.tagline %></i>


  <ul class="sidebar-box">
          <%= title_link_count_li(
        "Character Details", '#', @character.details_count) %>
        <%= title_link_count_li(
      "Forks", '#', @character.duplicate_forks_count) %>
      <%= title_link_count_li(
    "Stars", '#', @character.stars_count) %>

        
  </ul>
</section>

<!-- this section should be refactoreed to render partial
detail _show -->
<main class='main-content'>
  <% if !@character.details.nil? %>
  <ul class="main-content-list">
    <%= render @character.details %>
  </ul>
  <% end %>



  <ul class="main-content-list">

      <%= render partial: 'comments/form' %>


    <%= render @comments %>

  </ul>

</main>
</div>










</body>
