<header>
  <h1>
    <a href="<%= user_url(@character.creator) %>">
    <%= @character.creator.username %>
    </a>
      /
    <a href="<%= user_character_url(@character.creator,@character) %>">
      <%= @character.name %>
    </a>
  </h1>
  <small>last active--not implemented</small>
  <div class="social-stats">
    <ul>
      <li>settings</li>
      <% if @character.creator == current_user %>
      <li>
      <%= button_to "Edit",
            edit_user_character_url(@character.creator, @character),
            method: :get %>
      </li>
      <li>
      <%= button_to "Delete",
            user_character_url(@character.creator, @character),
            method: :delete %>
            <!-- confirmation message with JS -->
      </li>
      <% else %>
      <li>

        <% if !current_user.has_already_forked_character?(@character) %>
        <%= button_to "Fork",
        user_character_forks_url(@character.creator, @character),
        method: :post
         %>
         <% else %>
         Forked!
         <% end %>

      </li>
      <% end %>
      <li>star</li>

    </ul>
  </div>
</header>

<body>

<i class='tagline'><%= @character.tagline %></i>

<section class="sidebar">

  <ul class="display-sidebox">
    <li>Character Details</li>
    <li>Revisions</li>
  </ul>
</section>

<!-- this section should be refactoreed to render partial
detail _show -->
<main class='main-list'>
  <% if !@character.details.nil? %>
  <ul class="list-display">
    <% @character.details.each do |detail|%>
    <li>
      <b> <%= detail.title %></b>
      <p> <%= detail.body %></p>
    </li>
    <% end %>
  </ul>
  <% end %>
</main>

COMMENTS DOWN HERE SOMEWHERE

<%= render @comments %>

<%= render partial: 'comments/form' %>




</body>