  <ul class="sidebar-box">
   <!-- again use counter caches -->

  <li>
    <a href=''>
      All Characters <i class='count'><%= user.get('characters_count') %></i>
    </a>
  </li>

  <li>
    <a href='#forked'>
      Forked <i class='count'><%= user.get('forked_characters_count') %></i>
    </a>
  </li>

  <li>
    <a href='#starred'>
      Starred <i class='count'><%= user.get('starred_characters_count') %></i>
    </a>
  </li>

  <li>
    <a href='#public'>
      Public <i class='count'><%= user.get('public_characters_count') %></i>
    </a>
  </li>

  <li>
    <a href='#private'>
      Private <i class='count'><%= user.get('private_characters_count') %></i>
    </a>
  </li>

  </ul>
