<!DOCTYPE html>
<html>
<head>
  <title>CharApp</title>
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %> -->
    <%= stylesheet_link_tag "application" %>
</head>
<body>

  <section class="navbar">

    <% if signed_in? %>
    <ul class="info">
      <li>Signed in as:
            <%= link_to "#{current_user.username}", user_url(current_user) %>
      </li>
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
      <li>
          <%= link_to "All Users", users_url %>
      </li>
    </ul>



    <ul class="social">
      <li>
        <a href="<%= notifications_url %>">Notifications</a>

        <% unless current_user.notifications.empty? %>
          <strong><%= current_user.notifications.unread.size %></strong>
          <ul>
            <%= render partial: "notifications/notification", collection:     current_user.notifications.unread %>
          </ul>
        <% end %>
      </li>
      <li>
          <%= link_to "Inbox", inbox_url %>
      </li>
      <li>
          <%= link_to "Sentbox", sentbox_url %>
      </li>
      <li>
          <%= link_to "New Message", new_message_url %>
      </li>
    </ul>



    <% else %>
    <ul class='info'>
      <li><%= link_to "Sign In", new_session_url %></li>
      <li><%= link_to "Sign up", new_user_url %></li>
    </ul>
    <% end %>

  </section>

  <% if flash[:errors] %>
  <div class='errors'>
    <h3>Please fix the following errors:</h3>
    <ul class='dropdown-list'>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<%= yield %>

</body>
</html>
